html, body, .conteudo{
    height: 100%;
}

body{
    background: #d6d5d5;
}



/* conteudo 1/home */
#conteudo-home{
    background: url(../img/fundo2.jpg) no-repeat;
    background-size: cover;
}

#conteudo-home .fas{
    color: black;
}



/* conteudo 2/quem somos */
#conteudo-quemSomos .carousel .img-fluid{
    border-radius: 5px;
}

#conteudoquemSomos .carousel .fas{
    color: black;
}




/* conteudo 3/contato */
#conteudo-form{
    background: url(../img/fundo2.jpg) no-repeat;
    background-size: cover;
}

.form{
    padding: 40px 10px 20px 10px;
    border-radius: 5px;
    height: 300px;
    background-color: #bebebe;
}



/* footer/rodapé */
footer h4{
    color: #bebebe;
    margin-bottom: 15px;
}

footer .fas{
    color: white;
}

footer a{
    color: whitesmoke;
}

footer a:hover{
    text-decoration: none;
}
   